%form{:action =>"/create",:method=>"post"}
  %label            New Item
  %textarea{:name =>"contents",:rows=>4}
  %label            Tags
  %input{:type =>"text",:name=>"tags"}
  %label            Due Date
  %input{:type =>"text", :id=>"datepicker", :name=>"duedate"}
  %input{:type =>"submit"}
    
