- @spite.each do |spite|
  %div{:class=>"spite", :id=>spite[:id]}
    #tags= spite[:tags].join(', ') #.map { |t| t.join(', ') }
    #note= spite[:contents]
    #duedate 
      %time= spite[:duedate]

%footer
  %a{:title => "Add a new todo item",:href=>"/new/"} Add a new item
