!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title Spite, a little piece of ToDo list heaven
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"/app.js"}
    %link{:rel=>'stylesheet', :type=>"text/css", :media=>"screen, projection", :href=>"/blueprint/screen.css"}
    %link{:rel=>'stylesheet', :type=>"text/css", :media=>"print", :href=>"/blueprint/print.css"}
    /[if lt IE 8]
      %link{:rel=>'stylesheet', :type=>"text/css", :media=>"screen, projection", :href=>"/blueprint/ie.css"}

  %body
    .container
      %header{:class=>"span-24 last"}
        %h1 Spite
        %p= "Your list of spite on #{Time.now.strftime("%A %B %d, %Y")}"
        .new!= partial :_new
        /%a{:title => "Add a new todo item",:href=>"/new/"} Add a new item

      != yield

      %footer
