%form{:action =>"/create",:method=>"post"}
  %label            New Item
  %textarea{:name =>"contents"}
  %label            Tags
  %input{:type =>"textarea",:name=>"tags"}
  %label            Due Date
  %input{:type =>"text",:name=>"duedate"}
  %input{:type =>"submit"}
    
